.splash__screen {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 100;

  background-color: var(--main-bg);
  text-align: center;

  font-family: var(--head-font);
}

.splash__screen .splash__screen-content h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.splash__screen-content h3,
.splash__screen-info {
  font-family: var(--portfolio-font-light);
}
.splash__screen-credits {
  font-size: 2.5rem;
  font-family: var(--head-font);
}

.splash__screen-credits span {
  font-family: var(--portfolio-font-italic);
}

.splash__screen-content h3 {
  font-size: 2.5rem;
}

.splash__screen-info {
  /* position: fixed; */
  bottom: 2rem;

  font-size: 1.8rem;
}

@media screen and (max-width: 576px) {
  .splash__screen .splash__screen-content h1 {
    font-size: 2rem;
  }

  .splash__screen-content h3 {
    font-size: 1.4rem;
  }
}