.preloader_container {
  position: absolute;
  inset: 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-preloader {
  width: 29.27vw;
  height: 29.27vw;
  border: 0.9px solid var(--text-darker);
  font-size: 16px;
  opacity: 0.2;
  border-radius: 50%;
  /* background: var(--text-darker); */
}

.splash__screen {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 100;

  background-color: var(--main-bg);
  text-align: center;

  font-family: var(--head-font);
}

.splash__screen .splash__screen-content h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.splash__screen-content h3,
.splash__screen-info {
  font-family: var(--portfolio-font-light);
}
.splash__screen-credits {
  font-size: 2.5rem;
  font-family: var(--head-font);
}

.splash__screen-credits span {
  font-family: var(--portfolio-font-italic);
  font-size: 1.8rem;
}

.splash__screen-content h3 {
  font-size: 2.5rem;
}

.splash__screen-info {
  font-size: 1.8rem;
  
  border: 1px solid var(--text-main);
  border-radius: 2rem;
  
  padding: .5rem;
  padding-left: 1em;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  transition: .3s;
}

.splash__screen-info:hover {
  gap: 2rem;
}

.splash__screen-info .arrow-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  
  border: 1px solid var(--text-main);
  border-radius: 50%;
  
  padding: .5rem;
  
  width: 3rem;
  height: 3rem;
  
  margin-left: auto;
}

/* .splash__screen-info .arrow-circle:hover svg path {
  transform: translateX(5px);
} */

.splash__screen-links {
  position: fixed;
  bottom: 2em;
  right: 2em;
}

.splash__screen-links ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 2rem;
}

.splash__screen-links ul li {
  text-transform: uppercase;
  font-family: var(--extra-font);
}

@media screen and (max-width: 576px) {
  .splash__screen .splash__screen-content h1 {
    font-size: 2rem;
  }

  .splash__screen-content h3 {
    font-size: 1.4rem;
  }
}