main {
  /* margin: 6rem 0 8rem; */
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading_main {
  color: var(--text-darker);
  /* font-size: clamp(100px, 30vh, 260px); */
  /* font-size: 30vh; */
  font-size: 12rem;
  letter-spacing: -12.5px;
  text-transform: uppercase;
  line-height: 1;
  margin-left: -16px;
}

main p {
  width: 52%;
  font-size: 1.5rem;
  font-weight: 300;
}

.right_list {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.animated_heading_wrapper {
  overflow: hidden;
  height: 10rem;
}

.animated_heading_wrapper span {
  display: block;
  height: 100%;
  animation: spin-words-vertical 8s infinite;
}

@keyframes spin-words-vertical {
  11% {
    transform: translateY(-112%); 
  }
  37% {
    transform: translateY(-102%); 
  }
  48% {
    transform: translateY(-212%);
  }
  74% {
    transform: translateY(-202%);
  }
  85% {
    transform: translateY(-312%);
  }
  100% {
    transform: translateY(-302%);
  }
}


@media screen and (max-width: 480px) {
  main {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .heading_main {
    font-size: 3.5rem;
    letter-spacing: -3px;
    margin-left: -3.5px;
  }
  main p {
    font-size: 1rem;
    width: 90%;
  }
  .animated_heading_wrapper {
    height: 3rem;
  }
}
