nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand_logo {
  font-family: var(--head-font);
  font-size: 4em;
  color: var(--text-darker);
}

nav ul li {
  font-size: 1.2em;
  font-weight: 500;
}

nav .center {
  width: 50%;
}

nav .contact_btn {
  border: 1px solid var(--text-main);
  padding: 0.3rem 1rem;
  border-radius: 2rem;
  /* font-weight: 400; */
  font-size: 1.2rem;
}

/* SIMPLIFIED NAVBAR */

.simplified__nav {
  margin: 2.5rem 0;
}

.simplified__nav nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.simplified__nav .logo img {
  height: 2.8rem;
}

@media screen and (max-width: 480px) {
    nav {
        margin-top: 1rem;
    }
    .brand_logo {
        font-size: 3.5em;
    }
    nav ul li,
    nav .contact_btn {
        font-size: .8em;
    }
    nav .center {
        width: 42%;
    }
}