@import "./theme-toggle.css";

@custom-media --motionOK (prefers-reduced-motion: no-preference);

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand_logo {
  font-family: var(--head-font);
  font-size: 4em;
  color: var(--text-main);
}

nav ul li {
  font-size: 1.2em;
  font-weight: 500;
}

nav .center {
  width: 50%;
}

nav .contact_btn {
  border: 1px solid var(--text-main);
  padding: 0.3rem 1rem;
  border-radius: 2rem;
  /* font-weight: 400; */
  font-size: 1.2rem;
}

/* SIMPLIFIED NAVBAR */

.simplified__nav {
  margin: 2rem 0;
}

.simplified__nav nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

.simplified__nav .logo {
  font-size: 1.2em;
}

/* .simplified__nav .logo img {
  height: 2.8rem;
}

.simplified__nav .logo svg {
  width: 5em;
  display: block;
}

.simplified__nav .logo path {
  stroke: var(--text-main);
  stroke-width: 2px;
} */

.simplified__nav .nav__toggle>* {
  box-sizing: border-box;
}

.nav__toggle .menu-icon {
  position: relative;
  width: 3rem;
  height: 2.5rem;

  cursor: pointer;
  /* background: pink; */
}

.nav__toggle .menu-icon__checkbox {
  display: block;
  width: 100%;
  height: 100%;

  position: relative;

  cursor: pointer;
  -webkit-touch-callout: none;
  opacity: 0;
  z-index: 2;

  /* background: red; */
}

.nav__toggle .menu-icon div {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 80%;
  /* background: yellow; */
}

.nav__toggle .menu-icon div span {
  position: absolute;
  display: block;
  width: 100%;
  height: 6px;
  border: .5px solid var(--text-main);
  border-radius: 5px;
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}

.nav__toggle .menu-icon div span:first-of-type {
  top: 0;
}

.nav__toggle .menu-icon div span:nth-child(2) {
  top: 50%;
  transform: translate(0, -50%);
}

.nav__toggle .menu-icon div span:last-of-type {
  bottom: 0;
}


.menu-icon__checkbox:checked+div span:first-of-type {
  transform: rotate(45deg);
  top: .89rem;
}

.menu-icon__checkbox:checked+div span:last-of-type {
  transform: rotate(-45deg);
  bottom: 0.74rem;
}

.menu-icon__checkbox:checked+div span:nth-child(2) {
  opacity: 0;
}

.simplified__nav .nav__list {
  display: none;
  transition: all .3s ease;
}

.simplified__nav .nav__list.active {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 85vh;
  padding-left: 10rem;

  position: absolute;
  top: 100%;
  left: 0;

  /* background: var(--main-bg); */

  z-index: 1;
  overflow: hidden;
}

.simplified__nav .nav__list .nav__list-item {
  font-variation-settings: "wdth" 125;
}

.simplified__nav .nav__list .nav__list-sub-item {
  position: relative;
  overflow-x: hidden;
}

.simplified__nav .nav__list .nav__list-sub-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  width: 0%;
  background-color: var(--text-main);
  transform: translateX(-101%);
  transition: transform .5s ease-out;
}

.simplified__nav .nav__list .nav__list-sub-item:hover::after{
  transform: translateX(0);
  width: 95%;
}

.simplified__nav .nav__list .nav__list-item:hover {
  font-variation-settings: "wdth" 100;
  /* color: pink; */
}


.simplified__nav .nav__list ul {
  display: block;
  list-style: none;
}

.simplified__nav .nav__list ul li {
  font-family: var(--head-font);
  font-size: max(3rem, min(4vw, 5rem));
}

.simplified__nav .nav__list .nav__sublist {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .5rem 0rem;

  margin-left: clamp(3.8rem, 3rem, 4rem);
  margin-top: .5rem;
  /* padding-bottom: .5rem; */
}

.simplified__nav .nav__list .nav__sublist li {
  /* font-size: 1.7rem; */
  font-size: clamp(1.2rem, 1.4vw, 1.7rem);
  font-family: var(--portfolio-font-medium);

  /* letter-spacing: -2px */
}

.nav__list .listIcon {
  stroke: var(--text-main);
  stroke-width: 4;
  display: inline-block;

  height: 1.5rem;

  margin-right: .3rem;
}

.nav__sublist .listIcon {
  stroke-width: 4px;
  width: 1rem;
  height: .8rem;

  margin-right: .2rem;
}

@media screen and (max-width: 576px) {
  .nav__list .listIcon {
    width: 1.5rem;
    height: auto;
  }

  .nav__sublist .listIcon {
    width: .6rem;
  }

  .simplified__nav .nav__list.active {
    padding-left: 2rem;
  }
}

@media screen and (max-width: 480px) {

  nav,
  .simplified__nav {
    margin-top: 1rem;
  }

  .simplified__nav .logo svg {
    width: 3em;
  }

  .brand_logo {
    font-size: 3.5em;
  }

  nav ul li,
  nav .contact_btn {
    font-size: .8em;
  }

  nav .center {
    width: 42%;
  }
}

@media screen and (min-width: 1024px) {
  .nav__toggle .menu-icon {
    width: 3.6rem;
    height: 3.3rem;
  }

  .nav__toggle .menu-icon div span {
    height: 9px;
  }

  .menu-icon__checkbox:checked+div span:first-of-type {
    top: 1rem;
  }

  .menu-icon__checkbox:checked+div span:last-of-type {
    bottom: 1rem;
  }
}