@import "./theme-toggle.css";

@custom-media --motionOK (prefers-reduced-motion: no-preference);

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand_logo {
  font-family: var(--head-font);
  font-size: 4em;
  color: var(--text-darker);
}

nav ul li {
  font-size: 1.2em;
  font-weight: 500;
}

nav .center {
  width: 50%;
}

nav .contact_btn {
  border: 1px solid var(--text-main);
  padding: 0.3rem 1rem;
  border-radius: 2rem;
  /* font-weight: 400; */
  font-size: 1.2rem;
}

/* SIMPLIFIED NAVBAR */

.simplified__nav {
  margin: 2.5rem 0;
}

.simplified__nav nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.simplified__nav .logo img {
  height: 2.8rem;
}

.simplified__nav .nav__toggle #menu_checkbox {
  display: none;

}

.simplified__nav .nav__toggle label {
  /* position: absolute; */
  /* top: 50%; */
  right: 0;
  left: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  margin: -30px auto 0 auto;
  cursor: pointer;
}

label:before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 1.2s cubic-bezier(0, 0.96, 1, 0.02) background-color;
}

label div {
  position: relative;
  top: 0;
  height: .5rem;
  background-color: #fff;
  margin-bottom: .5rem;
  transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width,
    0.3s ease right;
  border-radius: 2px;
}

label div:first-child {
  transform-origin: 0;
}

label div:last-child {
  margin-bottom: 0;
  transform-origin: 1rem;
}

label div:nth-child(2) {
  right: 0;
  width: 1rem;
}

#menu_checkbox:checked + label div:first-child {
  top: -6px;
  transform: rotateZ(45deg);
}

#menu_checkbox:checked + label div:last-child {
  top: 6px;
  transform: rotateZ(45deg);
}

#menu_checkbox:checked + label div:nth-child(2) {
  width: 85px;
  top: 0;
  right: 13px;
  transform: rotateZ(-45deg);
}




@media screen and (max-width: 480px) {
  nav {
    margin-top: 1rem;
  }

  .brand_logo {
    font-size: 3.5em;
  }

  nav ul li,
  nav .contact_btn {
    font-size: .8em;
  }

  nav .center {
    width: 42%;
  }
}