.projects .section_container ol {
  list-style: none;
  counter-reset: project-counter;
}

.projects .section_container ol li {
  counter-increment: project-counter;
  position: relative;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  margin-top: 1.5rem;
  padding-bottom: 0;
}

.projects .section_container ol li::before {
  content: counter(project-counter);
  font-size: 5rem;
  font-weight: 700;
}

.projects .section_container .project {
  min-height: 50vh;
  width: 100%;
  position: relative;
}

.projects .section_container .project .project_details {
  display: flex;
  margin-bottom: 0;
  justify-content: space-between;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  padding: 0.3em 0.5em;
  color: var(--text-darker);
  font-family: var(--details-font);
  position: absolute;
  bottom: 1rem;
  width: 94%;
}

.projects .section_container .project:nth-child(3n + 1) {
  background-color: var(--dark-bg);
}
.projects .section_container .project:nth-child(3n + 2) {
  background-color: var(--grey);
}
.projects .section_container .project:nth-child(3n + 3) {
  background-color: var(--medium-bg);
}

.projects .section_container .project:nth-child(even) {
  text-align: right;
}

.projects .project .project_container {
  width: inherit;
}

.projects .project .project_container img {
  width: 100%;
  border: 1px solid red;
}

@media screen and (max-width: 480px) {
  .projects .section_container ol li {
    padding: .5em;
  }
  .projects .section_container ol li::before {
    font-size: 2.5rem;
  }
  .projects .section_container .project .project_details {
    font-size: .7rem;
    padding: .1em .5em;
  }
}

.model-viewer {
  width: 100%;
  min-height: 50vh;
}